{%- assign inventory_visible = false -%}
{%- if current_variant.inventory_management == 'shopify' -%}
  {%- if current_variant.inventory_quantity <= block.settings.inventory_threshold and current_variant.inventory_quantity >= 0 -%}
    {%- assign inventory_visible = true -%}
  {%- endif -%}
{%- endif -%}

{%- liquid
  if current_variant.inventory_quantity == 0 or current_variant.inventory_policy == 'continue'
    assign inventory_visible = false
  endif
-%}

{% unless indicator == blank %}
<div class="product-block product-block--sales-point product-block--sales-point--v2 {% if current_variant.available == false or current_variant.inventory_quantity <= 0 %} inventory--low{% endif %}" {{ block.shopify_attributes }}>
    <ul class="sales-points">
    <li class="sales-point">
      <span class="icon-and-text{% if current_variant.available == false or current_variant.inventory_quantity <= 0 %} inventory--low{% endif %}">
        <span class="icon icon--inventory"></span>
        <span data-product-inventory data-threshold="{{ block.settings.inventory_threshold }}">
          {%- if current_variant.available == false or current_variant.inventory_quantity <= 0 -%}
            {%- assign indicator_split = product.metafields.custom.delivery_estimation_out_of_stock.value | split: '|time|' -%}
            {{ indicator_split[0] }}
            {{ product.metafields.custom.shipping_time_out_of_stock.value }}
            {{ indicator_split[1] }}
          {%- else -%}
            {%- assign indicator_split = indicator | split: '|time|' -%}
            {{ indicator_split[0] }}
            {{ product.metafields.custom.shipping_time_in_stock.value }}
            {{ indicator_split[1] }}
          {%- endif -%}
        </span>
      </span>
    </li>
  </ul>
</div>


{%- assign variants_with_inventory_tracking = product.variants | where: 'inventory_management', 'shopify' -%}

<script>
  // Store inventory quantities in JS because they're no longer
  // available directly in JS when a variant changes.
  // Have an object that holds all potential products so it works
  // with quick view or with multiple featured products.
  window.inventories = window.inventories || {};
  window.inventories['{{ product.id }}'] = {};
   {% for variant in variants_with_inventory_tracking %}
    window.inventories['{{ product.id }}'][{{ variant.id }}] = {
      'quantity': {{ variant.inventory_quantity | default: 0 }},
      'policy': '{{ variant.inventory_policy | default: false }}',
      'incoming': '{{ variant.incoming | default: false }}',
      'next_incoming_date': {{ variant.next_incoming_date | date: format: 'date' | json }}
    };
   {% endfor %}
</script>
{% endunless %}