{%- if section.settings.divider -%}<div class="section--divider">{%- endif -%}

{%- liquid
  assign video_width = section.settings.video_width
-%}

{% style %}
   {% if section.settings.top_padding == false %}
     #shopify-section-{{ section.id }} .index-section { margin-top: 0 !important; }
   {% endif %}
   {% if section.settings.bottom_padding == false %}
     #shopify-section-{{ section.id }} .index-section { margin-bottom: 0 !important; }
   {% endif %}
   {% if section.settings.color_text != blank and section.settings.color_text != "rgba(0,0,0,0)" %}
     #shopify-section-{{ section.id }} {
       --colorTextBody: {{ section.settings.color_text }};
       color: var(--colorTextBody);
     }
     #shopify-section-{{ section.id }} .collapsible-trigger-btn {
       color: inherit;
     }
   {% endif %}
   {% if section.settings.color_heading != blank and section.settings.color_heading != "rgba(0,0,0,0)" %}
     #shopify-section-{{ section.id }} .h2 {
       --colorTextHeader: {{ section.settings.color_heading }};
       color: var(--colorTextHeader);
     }
   {% endif %}
   {% if section.settings.color_background_section != blank and section.settings.color_background_section != "rgba(0,0,0,0)" %}
     @media (min-width: 769px){
       #shopify-section-{{ section.id }} .index-section {
         background-color: {{ section.settings.color_background_section }};v
       }
  }
       #shopify-section-{{ section.id }} .index-section .feature-row-wrapper .feature-row {
         background-color: {{ section.settings.color_background_section }};
       }

     #shopify-section-{{ section.id }} .index-section--padding {
       padding: 120px 0;
     }
     @media only screen and (max-width: 768px) {
       #shopify-section-{{ section.id }} .index-section--padding {
         padding: 0;
       }
     }
   {% endif %}
   {% if section.settings.color_background_section != blank and section.settings.color_background_section != "rgba(0,0,0,0)" %}
     #shopify-section-{{ section.id }} .index-section--full-width-bg .feature-row-wrapper {
       overflow: visible;
     }
     #shopify-section-{{ section.id }} .index-section--full-width-bg .feature-row {
       margin: 0;
     }
     @media only screen and (min-width: 769px) {
       #shopify-section-{{ section.id }} .index-section--full-width-bg .feature-row__text {
         margin-left: 0;
       }
       #shopify-section-{{ section.id }} .index-section--full-width-bg .feature-row--image-on-left .feature-row__text {
         margin-right: 0;
         margin-left: auto;
       }
     }
     {% if section.settings.video_full_width %}
       #shopify-section-{{ section.id }} .index-section--full-width-bg .feature-row {
         margin: 0;
         align-items: normal;
       }
       #shopify-section-{{ section.id }} .index-section--full-width-bg .image-wrap {
         border-radius: 0;
       }
       @media only screen and (min-width: 769px) {
         #shopify-section-{{ section.id }} .index-section--full-width-bg .feature-row__text {
           padding-top: 60px;
           padding-bottom: 60px;
           align-self: center;
         }
         #shopify-section-{{ section.id }} .index-section--full-width-bg .feature-row--33 .image-wrap {
           width: calc(50vw - 32%);
         }
         #shopify-section-{{ section.id }} .index-section--full-width-bg .feature-row--50 .image-wrap {
           width: calc(50vw + 4%);
         }
         #shopify-section-{{ section.id }} .index-section--full-width-bg .feature-row--66 .image-wrap {
           width: calc(50vw + 13%);
         }
         #shopify-section-{{ section.id }} .index-section--full-width-bg .feature-row__first-image {
           height: 100%;
         }
         #shopify-section-{{ section.id }} .index-section--full-width-bg .image-wrap {
           height: 100% !important;
           padding-bottom: 0 !important;
           border-radius: 0;
         }
         #shopify-section-{{ section.id }} .index-section--full-width-bg .image-wrap img {
           object-position: top;
         }
       }
       @media only screen and (max-width: 1300px) and (min-width: 769px) {
         #shopify-section-{{ section.id }} .index-section--full-width-bg .feature-row--33.feature-row--image-on-left .image-wrap {
           margin-left: calc(-50vw + 132%);
         }
         #shopify-section-{{ section.id }} .index-section--full-width-bg .feature-row--50.feature-row--image-on-left .image-wrap {
           margin-left: calc(-50vw + 96%);
         }
         #shopify-section-{{ section.id }} .index-section--full-width-bg .feature-row--66.feature-row--image-on-left .image-wrap {
           margin-left: calc(-50vw + 87%);
         }
       }
       @media only screen and (min-width: 1301px) {
         #shopify-section-{{ section.id }} .index-section--full-width-bg .feature-row__text {
           padding-top: 100px;
           padding-bottom: 100px;
         }
         #shopify-section-{{ section.id }} .index-section--full-width-bg .feature-row--33.feature-row--image-on-left .image-wrap {
           margin-left: calc(-50vw + 535px);
         }
         #shopify-section-{{ section.id }} .index-section--full-width-bg .feature-row--50.feature-row--image-on-left .image-wrap {
           margin-left: calc(-50vw + 585px);
         }
         #shopify-section-{{ section.id }} .index-section--full-width-bg .feature-row--66.feature-row--image-on-left .image-wrap {
           margin-left: calc(-50vw + 605px);
         }
       }
     {% endif %}
     {% if image_width == '66' %}
       @media only screen and (min-width: 1301px) {
         #shopify-section-{{ section.id }} .index-section--full-width-bg .feature-row--66 .image-wrap {
           transform: translateX(30px);
         }
         #shopify-section-{{ section.id }} .index-section--full-width-bg .feature-row--66.feature-row--image-on-left .image-wrap {
           transform: translateX(-30px);
         }
       }
       @media only screen and (min-width: 1590px) {
         #shopify-section-{{ section.id }} .index-section--full-width-bg .feature-row--66 .image-wrap {
           transform: translateX(90px);
           margin-right: -60px;
         }
         #shopify-section-{{ section.id }} .index-section--full-width-bg .feature-row--66.feature-row--image-on-left .image-wrap {
           transform: translateX(-90px);
           margin-right: 0;
           margin-left: -60px;
         }
       }
     {% endif %}
   {% endif %}
   {% if section.settings.color_background != blank and section.settings.color_background != "rgba(0,0,0,0)" %}
     #shopify-section-{{ section.id }} .section-bg {
       background-color: {{ section.settings.color_background }};
     }
   {% endif %}
   {% if section.settings.color_collapsible_border != blank and section.settings.color_collapsible_border != "rgba(0,0,0,0)" %}
     #shopify-section-{{ section.id }} .collapsibles-wrapper--border-top {
       border-top-color: {{ section.settings.color_collapsible_border }};
     }
   {% endif %}
  {%- if section.settings.fancy_background -%}
    #shopify-section-{{ section.id }} .feature-row__first-video::before {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 770px;
      height: 437px;
      opacity: .4;
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="772" height="438" viewBox="0 0 772 438" fill="none"><path d="M1.53475 131.965C122.411 70.328 154.455 49.3335 341.503 26.649C523.007 4.6457 672.364 -13.0915 688.84 17.2617C705.315 47.6149 527.752 44.9872 300.131 129.163C210.061 162.477 3.57631 246.077 10.6988 278.368C23.6357 336.991 518.059 205.879 736.801 211.842C955.543 217.806 35.1887 374.428 65.467 416.39C79.1643 435.372 148.533 434.684 697.646 361.594C639.31 380.037 610.675 395.259 611.741 407.297C613.017 421.577 656.144 431.334 741.122 436.583" stroke="%23FFFFFF" stroke-width="2" stroke-linecap="round"/></svg>');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
  {%- endif -%}
  {%- if section.settings.icon_1 != blank -%}
    #shopify-section-{{ section.id }} .page-width:before {
      content: '';
      position: absolute;
      top: 25px;
      left: 25px;
      width: 127px;
      height: 127px;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url("{{ section.settings.icon_1.src | img_url: "master" }}");
      z-index: 3;
    }
  {%- endif -%}
  {%- if section.settings.icon_2 != blank -%}
    #shopify-section-{{ section.id }} .page-width:after {
      content: '';
      position: absolute;
      bottom: 0;
      transform: translateY(50%);
      right: 25px;
      width: 127px;
      height: 127px;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url("{{ section.settings.icon_2.src | img_url: "master" }}");
      z-index: 4;
    }
  {%- endif -%}
   @media only screen and (max-width: 768px) {
     #shopify-section-{{ section.id }} .section-heading {
       text-align: left;
       padding: 0 20px;
     }
     #shopify-section-{{ section.id }} .page-width,
     #shopify-section-{{ section.id }} .feature-row__images {
       padding: 0;
       max-width: none;
     }
     #shopify-section-{{ section.id }} .feature-row__text {
       padding-top: 45px;
       padding-bottom: 60px;
     }
     #shopify-section-{{ section.id }} .image-wrap {
       border-radius: 0;
     }
   }
  @media (min-width: 768px) {
    #shopify-section-{{ section.id }} .page-width:before {
      top: 0;
      left: auto;
      right: 0;
      transform: translateY(-50%);
      width: 153px;
      height: 153px;
    }
    #shopify-section-{{ section.id }} .page-width:after {
      left: 0;
      bottom: -110px;
      right: auto;
      width: 153px;
      height: 153px;
     }
   }
{% endstyle %}

<div class="index-section {% unless section.settings.video_full_width or section.settings.image_full_width %}index-section--padding{% endunless %} {% if section.settings.color_background_section != blank and section.settings.color_background_section != 'rgba(0,0,0,0)' %}index-section--full-width-bg{% endif %}">
  <div class="page-width feature-row-wrapper feature-row--{{ video_width }} {% if section.settings.layout == 'left' and section.settings.color_background_section != blank and section.settings.color_background_section != 'rgba(0,0,0,0)' %}feature-row--image-on-left{% endif %}">
    {%- capture heading_layout -%}
      {%- if section.settings.title != blank -%}
        {{ section.settings.title }}
      {%- endif -%}
    {%- endcapture -%}

    {%- capture video_layout -%}
      <div class="feature-row__item feature-row__images" data-aos>
          {%- if section.settings.video != blank and localization.language.iso_code == 'de' or section.settings.video_url != blank and localization.language.iso_code == 'de' -%}
            <div class="feature-row__first-video">
              {%- if section.settings.video != blank -%}
                {%- liquid
                  assign videoWidth = section.settings.video_width | times: 1
                  if videoWidth >= 50
                    assign loading = section.settings.lazyload_videos
                  else
                    assign loading = true
                  endif
                  if section.settings.video_mobile != blank
                    assign classes = 'small--hide'
                  endif
                -%}
                {%- render 'video-element',
                  media: section.settings.video,
                  size: '920x',
                  classes: classes,
                  video_controls: section.settings.video_controls,
                  video_muted: section.settings.video_muted,
                  video_autoplay: section.settings.video_autoplay,
                  video_loop: section.settings.video_loop,
                  loading: loading
                -%}
                {%- if section.settings.video_mobile != blank -%}
                  {%- liquid
                    assign videoWidth = section.settings.video_width | times: 1
                    if videoWidth >= 50
                      assign loading = section.settings.lazyload_videos
                    else
                      assign loading = true
                    endif
                    assign classes = 'medium-up--hide'
                  -%}
                  {%- render 'video-element',
                    media: section.settings.video_mobile,
                    size: '600x',
                    classes: classes,
                    video_controls: section.settings.video_controls,
                    video_muted: section.settings.video_muted,
                    video_autoplay: section.settings.video_autoplay,
                    video_loop: section.settings.video_loop,
                    loading: loading
                  -%}
                {%- endif -%}
              {%- elsif section.settings.video_url != blank -%}

                {%- liquid
                  assign aspect_ratio = '56.25'
                    if section.settings.video_ratio != blank
                    assign aspect_ratio = section.settings.video_ratio | split: ':'
                    assign float = aspect_ratio[0] | times: 1.0
                    assign aspect_ratio = aspect_ratio[1] | divided_by: float
                    assign aspect_ratio = aspect_ratio | times: 100
                  endif
                -%}

                <div class="product__video-wrapper" style="padding-bottom: {{ aspect_ratio }}%;">

                  {%- if section.settings.video_url contains '.mp4' or section.settings.video_url contains '.MP4' -%}
                    <video
                      playsinline
                      {% if section.settings.video_controls %}controls{% endif %}
                      {% if section.settings.video_muted %}muted{% endif %}
                      {% if section.settings.video_autoplay %}autoplay{% endif %}
                      {% if section.settings.video_loop %}loop{% endif %}
                      loading="lazy"
                      controlsList="nodownload"
                      src="{{ section.settings.video_url }}"
                      class="product__video lazy">
                    </video>
                  {%- else -%}
                    {%- if section.settings.video_url contains 'youtube.com/watch' or section.settings.video_url contains 'youtu.be/' -%}
                      {%- liquid
                        if section.settings.video_url contains 'youtube.com/watch'
                          assign video_id = section.settings.video_url | split: 'v='
                          assign video_id = video_id[1] | split: '&' | first
                        endif
                        if section.settings.video_url contains 'youtu.be/'
                          assign video_id = section.settings.video_url | split: '.be/'
                          assign video_id = video_id[1] | split: '&' | first
                        endif

                        assign video_url = 'https://www.youtube.com/embed/' | append: video_id
                        if section.settings.video_controls
                          assign video_url = video_url | append: '?controls=1'
                        else
                          assign video_url = video_url | append: '?controls=0'
                        endif
                        if section.settings.video_muted
                          assign video_url = video_url | append: '&mute=1'
                        else
                          assign video_url = video_url | append: '&mute=0'
                        endif
                        if section.settings.video_autoplay
                          assign video_url = video_url | append: '&autoplay=1'
                        else
                          assign video_url = video_url | append: '&autoplay=0'
                        endif
                        if section.settings.video_loop
                          assign video_url = video_url | append: '&loop=1'
                        else
                          assign video_url = video_url | append: '&loop=0'
                        endif
                        assign video_url = video_url | append: '&modestbranding=1&playsinline=1&rel=0&enablejsapi=1'
                      -%}
                    {%- endif -%}
                    {%- if section.settings.video_url contains 'vimeo.com' -%}
                      {%- liquid
                        assign video_id = section.settings.video_url | split: '.com/'
                        assign video_id = video_id[1] | split: '/' | first

                        assign video_url = 'https://player.vimeo.com/video/' | append: video_id
                        if section.settings.video_controls
                          assign video_url = video_url | append: '?background=0'
                        else
                          assign video_url = video_url | append: '?background=1'
                        endif
                        if section.settings.video_muted
                          assign video_url = video_url | append: '&muted=1'
                        else
                          assign video_url = video_url | append: '&muted=0'
                        endif
                        if section.settings.video_autoplay
                          assign video_url = video_url | append: '&autoplay=1&autopause=0'
                        else
                          assign video_url = video_url | append: '&autoplay=0'
                        endif
                        if section.settings.video_loop
                          assign video_url = video_url | append: '&loop=1'
                        else
                          assign video_url = video_url | append: '&loop=0'
                        endif
                      -%}
                    {%- endif -%}

                    <iframe
                      src="{{ video_url }}"
                      class="product__video"
                      frameborder="0"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                      allowfullscreen>
                    </iframe>

                  {%- endif -%}

                </div>

              {%- endif -%}
            </div>
          {%- elsif section.settings.image != blank -%}
            <div class="feature-row__first-video">
              {%- liquid
                if section.settings.image2 == blank
                  assign sizeVariable = section.settings.image_width | append: 'vw'
                  assign fallback = '100vw'
                else
                  assign sizeVariable = 'calc(0.4 * 50vw)'
                  assign fallback = '40vw'
                endif

                assign imageWidth = section.settings.image_width | times: 1
                if imageWidth >= 50
                  assign loading = section.settings.lazyload_images
                else
                  assign loading = true
                endif
                assign classes = 'feature-row__image vid-media'
                if section.settings.image_mobile != blank
                  assign classes = classes | append: ' small--hide'
                endif
              -%}
              {%- assign id = 'image-' | append: section.id -%}
              {%- render 'image-element',
                id: id,
                img: section.settings.image,
                widths: '180, 360, 540, 750, 900, 1080',
                loading: loading,
                sizeVariable: sizeVariable,
                fallback: fallback,
                classes: classes,
              -%}
              {%- if section.settings.image_mobile != blank -%}
                {%- liquid
                  if section.settings.image2 == blank
                    assign sizeVariable = section.settings.image_width | append: 'vw'
                    assign fallback = '100vw'
                  else
                    assign sizeVariable = 'calc(0.4 * 50vw)'
                    assign fallback = '40vw'
                  endif

                  assign imageWidth = section.settings.image_width | times: 1
                  if imageWidth >= 50
                    assign loading = section.settings.lazyload_images
                  else
                    assign loading = true
                  endif
                  assign classes = 'feature-row__image vid-media medium-up--hide'
                -%}
                {%- assign id = 'image-mobile-' | append: section.id -%}
                {%- render 'image-element',
                  id: id,
                  img: section.settings.image_mobile,
                  widths: '180, 360, 540, 750, 900, 1080',
                  loading: loading,
                  sizeVariable: sizeVariable,
                  fallback: fallback,
                  classes: classes,
                -%}
              {%- endif -%}
            </div>
          {%- endif -%}
          {%- if section.settings.video == blank and section.settings.video_url == blank and section.settings.image == blank -%}
            <div class="placeholder-video-wrap">
              <div class="video-wrap">
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
              </div>
            </div>
          {%- endif -%}
      </div>
    {%- endcapture -%}

    {%- if section.settings.heading_position == 'top' -%}
      <div class="section-heading" data-aos>
        {{ heading_layout }}
      </div>
    {%- endif -%}

    {% if section.settings.color_background != blank and section.settings.color_background != 'rgba(0,0,0,0)' %}
      <div class="section-bg">
    {%- endif -%}
    <div class="feature-row">
      {%- if section.settings.layout == 'left' -%}
        {{ video_layout }}
      {%- endif -%}

      <div
        class="feature-row__item feature-row__text feature-row__text--{{ section.settings.layout }} text-{{ section.settings.align_text }}"
        data-aos
      >
        {%- if section.settings.heading_position == 'side' -%}
          {{ heading_layout }}
        {%- endif -%}
        {%- if section.settings.text != blank -%}
          <div class="rte appear-delay{% cycle '','-1','-2','-3','-4' %}">{{ section.settings.text }}</div>
        {%- endif -%}
        {%- if section.blocks.size -%}
          <div id="FAQ-content-{{ section.id }}">
            {%- for block in section.blocks -%}
              {% case block.type %}
                {% when 'question' %}
                  <div class="collapsibles-wrapper collapsibles-wrapper--border-bottom">
                    <button
                      type="button"
                      class="collapsible-trigger collapsible-trigger-btn collapsible-trigger-btn--borders collapsible--auto-height collapsible-trigger--tab"
                      data-id="FAQ-content-{{ section.id }}"
                      aria-controls="FAQ-content-{{ block.id }}"
                    >
                      <span>{{ block.settings.title }}</span>
                      {%- render 'collapsible-icons' -%}
                    </button>
                    <div id="FAQ-content-{{ block.id }}" class="collapsible-content collapsible-content--all">
                      <div class="collapsible-content__inner collapsible-content__inner--faq rte">
                        {{ block.settings.text }}
                      </div>
                    </div>
                  </div>
              {% endcase %}
            {%- endfor -%}
          </div>
        {%- endif -%}
        {%- if section.settings.button_label != blank -%}
          <div class="appear-delay{% cycle '','-1','-2','-3','-4' %}">
            <a
              href="{{ section.settings.button_link }}"
              class="btn{% if section.settings.button_style == 'secondary' %} btn--secondary{% endif %}"
            >
              {{ section.settings.button_label }}
            </a>
          </div>
        {%- endif -%}
      </div>

      {%- if section.settings.layout == 'right' -%}
        {{ video_layout }}
      {%- endif -%}
    </div>
    {% if section.settings.color_background != blank and section.settings.color_background != 'rgba(0,0,0,0)' %}
      </div>
    {%- endif -%}
  </div>
</div>

{%- if section.settings.divider -%}</div>{%- endif -%}

{% schema %}
{
  "name": "Video or image with text",
  "settings": [
    {
      "type": "header",
      "content": "t:settings_schema.colors.name"
    },
    {
      "type": "color",
      "id": "color_text",
      "label": "t:sections.testimonials.settings.color_text.label"
    },
    {
      "type": "color",
      "id": "color_heading",
      "label": "Heading"
    },
    {
      "type": "color",
      "id": "color_background_section",
      "label": "Full width background"
    },
    {
      "type": "color",
      "id": "color_background",
      "label": "Container background"
    },
    {
      "type": "color",
      "id": "color_collapsible_border",
      "label": "Collapsible wrapper border bottom"
    },
    {
      "type": "header",
      "content": "t:sections.text-and-image.settings.image.label"
    },
    {
      "type": "checkbox",
      "id": "image_full_width",
      "label": "Image out of grid",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "Image (mobile)"
    },
    {
      "type": "header",
      "content": "t:sections.text-and-video.settings.video.label"
    },
    {
      "type": "checkbox",
      "id": "video_full_width",
      "label": "Video out of grid",
      "default": false
    },
    {
      "type": "video",
      "id": "video",
      "label": "t:sections.text-and-video.settings.video.label"
    },
    {
      "type": "video",
      "id": "video_mobile",
      "label": "Video (mobile)"
    },
    {
      "type": "text",
      "id": "video_url",
      "label": "t:sections.featured-video.settings.video_url.label",
      "info": "t:sections.background-video-text.settings.video_url.info"
    },
    {
      "type": "text",
      "id": "video_ratio",
      "label": "t:sections.text-and-video.settings.video_ratio.label",
      "info": "t:sections.text-and-video.settings.video_ratio.info",
      "default": "16:9"
    },
    {
      "type": "checkbox",
      "id": "video_controls",
      "label": "t:sections.text-and-video.settings.video_controls.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "video_muted",
      "label": "t:sections.text-and-video.settings.video_muted.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "video_autoplay",
      "label": "t:sections.text-and-video.settings.video_autoplay.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "video_loop",
      "label": "t:sections.text-and-video.settings.video_loop.label",
      "default": true
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "html",
      "id": "title",
      "label": "t:sections.text-and-video.settings.title.label",
      "default": "<h2 class=\"h2\">Video with text</h2>"
    },
    {
      "type": "select",
      "id": "heading_position",
      "label": "Heading position",
      "default": "side",
      "options": [
        {
          "value": "side",
          "label": "Side"
        },
        {
          "value": "top",
          "label": "Top"
        }
      ]
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "t:sections.text-and-video.settings.text.label",
      "default": "<p>Pair large text with an video to tell a story, explain a detail about your product, or describe a new promotion.</p>"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "t:sections.text-and-video.settings.button_label.label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:sections.text-and-video.settings.button_link.label"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "t:sections.text-and-video.settings.button_style.label",
      "default": "primary",
      "options": [
        {
          "value": "primary",
          "label": "t:sections.text-and-video.settings.button_style.options.primary.label"
        },
        {
          "value": "secondary",
          "label": "t:sections.text-and-video.settings.button_style.options.secondary.label"
        },
        {
          "value": "tertiary",
          "label": "t:sections.text-and-image.settings.button_style.options.tertiary.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "align_text",
      "label": "t:sections.text-and-video.settings.align_text.label",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "t:sections.text-and-video.settings.align_text.options.left.label"
        },
        {
          "value": "center",
          "label": "t:sections.text-and-video.settings.align_text.options.center.label"
        },
        {
          "value": "right",
          "label": "t:sections.text-and-video.settings.align_text.options.right.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "video_width",
      "label": "t:sections.text-and-video.settings.video_size.label",
      "default": "50",
      "options": [
        {
          "value": "33",
          "label": "t:common.image_size.options.small.label"
        },
        {
          "value": "50",
          "label": "t:common.image_size.options.medium.label"
        },
        {
          "value": "66",
          "label": "t:common.image_size.options.large.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "layout",
      "label": "t:sections.text-and-video.settings.layout.label",
      "default": "right",
      "options": [
        {
          "value": "left",
          "label": "t:sections.text-and-video.settings.layout.options.left.label"
        },
        {
          "value": "right",
          "label": "t:sections.text-and-video.settings.layout.options.right.label"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "divider",
      "label": "t:sections.text-and-video.settings.divider.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "top_padding",
      "label": "t:sections.text-and-video.settings.top_padding.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "bottom_padding",
      "label": "t:sections.text-and-video.settings.bottom_padding.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "lazyload_videos",
      "label": "t:common.lazyload_videos.label",
      "info": "t:common.lazyload_videos.info",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "fancy_background",
      "label": "Fancy background for video",
      "default": false
    },
    {
      "type": "header",
      "content": "Icons"
    },
    {
      "type": "image_picker",
      "id": "icon_1",
      "label": "Icon 1"
    },
    {
      "type": "image_picker",
      "id": "icon_2",
      "label": "Icon 2"
    }
  ],
  "blocks": [
    {
      "type": "question",
      "name": "t:sections.faq.blocks.question.name",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.faq.blocks.question.settings.title.label",
          "default": "Frequently asked question"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "t:sections.faq.blocks.question.settings.text.label",
          "default": "<p>Use this text to answer questions in as much detail as possible for your customers.</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Video or image with text"
    }
  ],
  "disabled_on": {
    "groups": ["footer", "header", "custom.popups"]
  }
}
{% endschema %}
